{% extends 'pages/base.html' %}
{% load static %}

{% block content %}    
<div class="banner-container">
    <div class="main-banner">
    
        <div class="slide transparent-background slide-one" style="background-image: url(../media/slides/bg01.jpg);">
            <div class="slide-text container">
                <h2>Best <span>Education</span> WordPress Theme</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
                <a href="#" class="btn btn-primary btn-padding btn-animated">Admission</a>
                <a href="#" class="btn btn-secondary btn-padding btn-dark-animated">Contact Us</a>
            </div>
        </div><!-- Slide /-->
        
        <div class="slide transparent-background slide-two" style="background-image: url(../media/slides/bg02.jpg);">
            <div class="slide-text container">
                <h2>Best <span>Education</span> WordPress Theme</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage.</p>
                <a href="#" class="btn btn-primary btn-padding">Admission</a>
                <a href="#" class="btn btn-secondary btn-padding">Contact Us</a>
            </div>
        </div><!-- Slide /-->
    
    </div><!-- Main Banner /-->
</div>
<!-- Banner Container /-->

<div class="about-us module col-padding-y" style="margin-top:30px">
    <div class="section-title">
        <h2 class="animated" data-animation="slideInLeft" data-animation-delay="400">Selamat Datang di <span>SMK Pelayaran</span></h2>
        <p class="animated" data-animation="slideInRight" data-animation-delay="500">We provide great education in town for professional courses select the best course for you and start increasing your skillset today!</p>
    </div><!-- Section Title /-->
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-lg-6 col-padding-y">
                <div class="about-img animated" data-animation="slideInLeft" data-animation-delay="400">
                    <img src="{% static 'assets/images/help/about-us/about-img.png' %}" alt="About">
                </div><!-- About Img /-->
            </div><!-- columns /-->
            
            <div class="col-sm-12 col-md-6 col-lg-6 col-padding-y">
                <div class="about-text animated" data-animation="slideInRight" data-animation-delay="500">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconse of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.</p>
                    <p>Education Buddy WordPress theme is actually the answer to all your questions related to your educational website in which you have all type of options from page to site wide options. </p>
                    <ul class="menu">
                        <li><i class="fas fa-check"></i> Multi-Purpose, Cleand and Modern Design with great design and fonts.</li>
                        <li><i class="fas fa-check"></i> Unique and 2019 most trending design elements combination.</li>
                        <li><i class="fas fa-check"></i> Available PSD template with real names of layers and well grouped.</li>
                        <li><i class="fas fa-check"></i> Vertical Grid Layout based on both bootstrap and foundation.</li>
                        <li><i class="fas fa-check"></i> Better site wide and individual pages options availability.</li>
                    </ul>
                    <a href="about-us.html" class="btn btn-primary btn-padding btn-animated">About Us</a>
                    <a href="about-us.html" class="btn btn-secondary btn-padding btn-dark-animated">Why Chose Us</a>
                </div><!-- About Text /-->
            </div><!-- columns /-->
            
        </div><!-- Row /-->
    </div><!-- Container -->
</div>
<!-- About Us /-->

<div class="why-chose-us module">
    <div class="section-title">
        <h2  class="animated" data-animation="slideInLeft" data-animation-delay="400">Mengapa Memilik <span>SMK Pelayaran?</span></h2>
        <p class="animated" data-animation="slideInRight" data-animation-delay="500">We have some great teachers and trainers in our staff who have professional experience along high education. Which gives you peace of mind.</p>
    </div><!-- Section Title /-->
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-12 col-lg-6 col-padding-y">
                <div class="faq-wrap">
                    <p>We always try to achieve some success in our life. Education is very important part in life of every individual which help us to groom our skills and find new ways to enhance the benefits and groom ourselves.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. Things needs to be done.</p>
                    <div class="accordion" id="accordionExample">
                        <div class="card animated" data-animation="slideInUp" data-animation-delay="400">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Lorem ipsum dolor sit amet consectetur</button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur authority in sendo. With some awesome educational campuses.
                                </div>
                            </div>
                        </div><!-- Card /-->
                        <div class="card animated" data-animation="slideInUp" data-animation-delay="500">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Lorem ipsum dolor sit amet consectetur</button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur authority in sendo. With some awesome educational campuses.
                                </div>
                            </div>
                        </div><!-- Card /-->
                        <div class="card animated" data-animation="slideInUp" data-animation-delay="700">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">How can you become a professional php developer?</button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur authority in sendo. With some awesome educational campuses.
                                </div>
                            </div>
                        </div><!-- Card /-->
                        <div class="card animated" data-animation="slideInUp" data-animation-delay="700">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">I have broken power supply can it be repaired</button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur authority in sendo. With some awesome educational campuses.
                                </div>
                            </div>
                        </div><!-- Card /-->
                    </div><!-- Accordion /-->
                </div>
            </div><!-- Columns /-->
            
            <div class=" col-sm-12 col-md-12 col-lg-6 col-padding-y animated" data-animation="slideInLeft" data-animation-delay="400">
                <div class="video-preview-one">
                    <a class="video-preview" href="https://www.youtube.com/watch?v=j8IkHemFcgk">
                        <div class="video-icon">
                            <div class="play-icon">
                                <i class="fas fa-play"></i>
                            </div>
                        </div>
                        <img src="{% static 'assets/images/help/video-one.jpg' %}" alt="">
                    </a>
                </div>
            </div><!-- Columns /-->
            
        </div><!-- Row /-->
    </div><!-- Container -->
</div>
<!-- Why Chose Us /-->

<div class="call-to-action">
    <img class="call-to-action-img" src="{% static 'assets/images/help/background-effect-2.jpg' %}" alt="">
    <div class="container">
        <div class="row no-gutters">
            
            <div class="col-sm-12 col-md-6 col-lg-4 animated" data-animation="slideInLeft" data-animation-delay="400">
                <div class="call-box">
                    <img src="{% static 'assets/images/help/icons/book-icon.png' %}" alt="book Icon">
                    <h3><a href="#">Bidang Kompetensi</a></h3>
                    <p>There are many variations of passages videntur parum clari, fiant sollemnes in futurum.</p>
                </div><!-- call Box /-->
            </div><!-- Columns /-->
            
            <div class="col-sm-12 col-md-6 col-lg-4 animated" data-animation="slideInUp" data-animation-delay="400">
                <div class="call-box">
                    <img src="{% static 'assets/images/help/icons/hat-college.png' %}" alt="Light Bulb">
                    <h3><a href="#">Penerimaan Peserta Didik Baru</a></h3>
                    <p>There are many variations of passages videntur parum clari, fiant sollemnes in futurum.</p>
                </div><!-- call Box /-->
            </div><!-- Columns /-->
            
            <div class="col-sm-12 col-md-6 col-lg-4 animated" data-animation="slideInRight" data-animation-delay="400">
                <div class="call-box">
                    <img src="{% static 'assets/images/help/icons/light-bulb.png' %}" alt="Hat College">
                    <h3><a href="#">Lokasi dan Fasilitas</a></h3>
                    <p>There are many variations of passages videntur parum clari, fiant sollemnes in futurum.</p>
                </div><!-- call Box /-->
            </div><!-- Columns /-->
            
        </div><!-- Row /-->
    </div><!-- Container /-->
</div>
<!-- Call to Action /-->

<div class="blog-post grey-bg grey-bg-color">
    <div class="section-title">
        <h2 class="animated" data-animation="slideInLeft" data-animation-delay="400">Berita <span>Kita</span></h2>
        <p class="animated" data-animation="slideInRight" data-animation-delay="500">We have some great teachers and trainers in our staff who have professional experience along high education. Which gives you peace of mind.</p>
    </div><!-- Section Title /-->
    <div class="container">
        <div class="row">
            {% for post in posts %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-padding-y">
                <div class="blog-box animated" data-animation="slideInUp" data-animation-delay="400">
                    <div class="blog-img">
                        <img src="{{ post.image.url}}" alt="{{ post.title }}">
                    </div>
                    <div class="blog-text">
                        <h5><a href="{% url 'detail' post.slug %}">{{ post.title }}</a></h5>
                        <div class="meta-tags">
                            <i class="far fa-user"> <span>By:</span><a href="single-post-page.html">Ateeq</a></i>
                            <i class="far fa-comment"> <a href="single-post-page.html">3 Comments</a></i>
                        </div>
                        <p>{{ post.body|safe|truncatechars:120 }}</p>
                        <a href="{% url 'detail' post.slug %}" class="btn btn-light btn-dark-animated">Read More</a>
                    </div>
                </div><!-- Post Box /-->
            </div><!-- Columns /-->
            {% endfor %}
        </div><!-- Row /-->
    </div><!-- Container -->
</div>
<div class="request-appointment">
    <div class="container">
        <div class="row">
            
            <div class="col-sm-12 col-md-8 col-lg-9 col-padding-y">
                <div class="appointment-text">
                    <h2>Informasi Magang Kerja BKK!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing  elit, sed do eiusmod.</p>
                </div><!-- Appointment Text /-->
            </div><!-- Columns /-->
            
            <div class="col-sm-12 col-md-4 col-lg-3 col-padding-y">
                <div class="appointment-btn">
                    <a href="appointment.html" class="btn btn-secondary btn-padding btn-dark-animated">Get Jobseeker</a>
                </div><!-- Appointment Btn /-->
            </div><!-- Columns /-->
            
        </div><!-- Row /-->
    </div><!-- Container /-->
</div>
<!-- Request Appointment /-->
{% endblock %}
        
      