<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Dashboard | SMK Negeri 1 Watulimo</title>
    
    <meta name="author" content="Webful Creations">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <!-- FavIcon for Website /-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">
    
    <!-- important for responsiveness remove to make your site non responsive. -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Theme Styles CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all" />
</head>
<body>
    <div class="main-container animation-page">
    	
    	<div class="top-bar">
        	<div class="container">
            	<div class="row">
                	
                    <div class="col-sm-12 col-md-12 col-lg-8">
                    	<div class="left-side">                        	
                        </div><!-- Left Side /-->
                    </div><!-- Columns /-->
                    
                    <div class="col-sm-12 col-md-12 col-lg-4 text-right">
                    	<div class="right-side">
                            <ul class="menu">
                                <li><a href="/admin/logout"><i class="fas fa-sign-in-alt"></i> Logout</a></li>
                            </ul>
                        </div>
                    </div><!-- Columns /-->
                    
                </div><!-- Row /-->
            </div><!-- Container /-->
        </div>
        <!-- Top Bar /-->        
       
        <div class="single-post-page blog-post-page module">
            <div class="container">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                    <div class="col-sm-12 col-md-12 col-lg-4 col-padding-y">
                        <div class="widget side-bar border-btm">
                            <div class="content">
                                <div class="text-center col-padding-y"><img src="{{ profile.picture.url }}" alt="Avatar" width="100" height="100" style="border-radius: 50%;"></div>
                                <h6 class="text-center">{% if request.user.is_authenticated %} {{ profile.name }}  {% endif %}<br/><span style="text-size-adjust: 20px;">{{ profile.profession }}</span></h6>
                                <ul class="list-unstyled">                           
                                    <li><a href="">Dashboard</a></li> 
                                    <li><a href="">Profile</a></li> 
                                    <li><a href="">Posting</a></li>                        
                                </ul>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer dark-bg grey-bg">            
            <div class="footer-Copyright">
            	<div class="container">
                	<div class="row">
                    	
                        <div class="col-lg-12 col-md-12 col-sm-12">
                        	<div class="copyrightinfo">© 2023 <a href="https://www.smkn1watulimo.sch.id/" target="_blank">SMK Negeri 1 Watulimo</a>. All Rights Reserved.</div>
                        </div>
                        
                    </div><!-- Row /-->
                </div><!-- Container /-->
            </div><!-- Footer Bottom /-->
            
        </div>
        <!-- Footer /-->
        
    </div>
    <!-- Main Container /-->
    
	<!-- Move to Top Icon 
    	 Remove to Not Display /-->
    <a href="#" id="top" title="Go to Top">
    	<i class="far fa-caret-square-up"></i>
    </a>
    <!-- Page Preloader
    	 Delete to Remove Preloader /-->
         <div class="preloader">
            <div class="spinner animated infinite fadeIn">
                <div class="preloader-img"></div>
            </div>
        </div><!-- Preloader /-->
            
        <script src="{% static 'assets/js/jquery.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/template.js' %}"></script>
    </body>
</html>    