{% extends 'admins/base.html' %}
{% load static %}

{% block content %}  
<div class="lg:w-3/4 md:w-2/3 md:px-3 mt-[30px] md:mt-0">
    <div class="rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900">
        <div class="p-6 md:flex justify-between items-center border-b border-gray-100 dark:border-gray-700">
            <div class="mb-4 md:mb-0">
                <h5 class="text-xl font-semibold">Posting</h5>
            </div>
            <a href="{% url 'create' %}" class="btn bg-indigo-600 hover:bg-indigo-700 border-indigo-600 hover:border-indigo-700 text-white rounded-md">Add Posting</a>
        </div>
        <div class="px-6">
            <ul>
                {% for post in posts %}
                <li class="flex justify-between items-center py-6">
                    <div class="flex items-center">
                        <img src="{{ post.image.url }}" class="rounded shadow dark:shadow-gray-800 w-12" alt="">

                        <div class="ml-3">
                            <p class="font-semibold">{{ post.title }}</p>
                            <p class="text-slate-400 text-sm">{{post.category}} | {{post.created}}</p>
                        </div>
                    </div>

                    <div>
                        <a href="{% url 'delete' post.slug %}" class="btn btn-icon bg-red-600/5 hover:bg-red-600 border-red-600/10 hover:border-red-600 text-red-600 hover:text-white rounded-full"><i data-feather="trash-2" class="h-4 w-4"></i></a>
                        <a href="{% url 'update' post.slug %}" class="btn btn-icon bg-green-600/5 hover:bg-green-600 border-green-600/10 hover:border-green-600 text-green-600 hover:text-white rounded-full"><i data-feather="edit-2" class="h-4 w-4"></i></a>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    {% include "admins/paging.html" with page=posts %}

    
</div>
{% endblock %}